[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ddddocr = "*"
selenium = "*"
pyinstaller = "*"
pyside6 = "*"

[dev-packages]

[requires]
python_version = "3.13"
